.listContainer{
display: flex;
justify-content: center;
}

.charListContainer {
    background-image: url('../../../layout/wall.png');
    box-shadow: 0.5px 0.5px 20px orangered;
    margin-bottom: 40px;
}
