body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,4,46);
  background: -moz-radial-gradient(circle, rgba(2,4,46,1) 0%, rgba(0,0,0,1) 0%, rgba(3,4,46,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(2,4,46,1) 0%, rgba(0,0,0,1) 0%, rgba(3,4,46,1) 100%);
  background: radial-gradient(circle, rgba(2,4,46,1) 0%, rgba(0,0,0,1) 0%, rgba(3,4,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02042e",endColorstr="#03042e",GradientType=1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
