.moreInfo {
  display: flex;
  justify-content: center;
  background-image: url("../../../layout/wall.png");
  border: 2px outset;
  padding: 20px;
  width: max-content;
  min-height: 500px;
  max-height: max-content;
}

.charPhoto {
  display: flex;
  width: 10rem;
  border: 3px inset;
}
.info {
  display: flex;
  flex-direction: column;
}

.infoButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
