.search{
  display: flex;
  justify-content:center;
  width:500px;
  border: 5px outset;
  border-radius: 10px;
 
}
.searchContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

